﻿
.wrapper {width: 100%;  background: #fff;padding:0px;} 

/*footer*/
footer{ background:#3a3a3a;padding:30px 0px; } 
.footer_logo{display:inline-block;float: right;}
.footer_menu{display:inline-block;width: calc(100% - 210px);float:left}
.footer_menu .menu ul li{display:inline;font-size:16px;line-height:22px;letter-spacing: -1px;color:#fff;padding:0 15px;position:relative;}
.footer_menu .menu ul li:first-child{padding-left:0px;}
.footer_menu .menu ul li:last-child{margin-right:0px;}
.footer_menu .menu ul li a{color:#fff;}
.footer_menu .menu ul li:last-child:before {content: '';position: absolute;left: 0;top: 6px;width: 1px;height: 16px;background: #fff;}
.footer_menu .copy{font-size:16px;color:#c0c0c0;line-height:24px;margin-top:20px}
.footer_menu .addr ul li{display:inline;font-size:16px;line-height:24px; }
.footer_menu .addr ul li:last-child{margin-right:0px;} 
.footer_menu .addr ul li:not(:first-child):before {content: '\2758';color: #c0c0c0;font-size: 14px;font-weight: 100;margin: 0px 15px;}
.footer_menu .copy p span{color:#5cb531}
 
/*footer*/

/*header*/ 

header{width: 100%;  background: #fff;padding:0px;height:78px;display:block;} 
.navbar-header  .navbar-toggle{background-color:#fff;border-color:#5cb531;}
.navbar-toggle .icon-bar{background-color:#5cb531}

.site-header-wrap{width:100%;position:relative; border-bottom:1px solid #ddd;z-index:1000}
.site-header-wrap.collapse{display:block;}
.site-header-wrap .logo{width:232px;float:left;background:#fff;height:78px;display: block;}
.site-header-wrap .etcsub-area{width: 230px;background: #fff;height:78px;display: block;    float: right;}
.site-header-wrap h1{    margin: 0px;    padding: 0px;    line-height: 78px;    font-size: 10px;}
.site-header-wrap .etc-area{position: relative;top: -78px;right:0px;}
.site-header-wrap .etcsub-area > div{float:left} 
#etcsub-dropdown {width: auto;display:block;background:#5cb531;height:78px;width:150px;color:#fff;font-size:15px;    letter-spacing: -1px;}
#etcsub-dropdown,#etcsub-dropdown ul
,#etcsub-dropdown ul li{padding: 0;margin: 0;color: #000;  }
#etcsub-dropdown:before,#etcsub-dropdown:after,#etcsub-dropdown > ul:before,#etcsub-dropdown > ul:after {content: "";display: table;}
#etcsub-dropdown:after,#etcsub-dropdown > ul:after {clear: both;}
#etcsub-dropdown ul {list-style:none;background-color:transparent;    } 
#etcsub-dropdown ul > li > a.parenttitle{border:none;box-shadow:none; cursor:pointer;color:#fff;  ;text-align:center;height: 78px; padding: 13px 0px;display:block;}
#etcsub-dropdown ul > li > a.parenttitle p{font-size:14px;line-height:22px}
#etcsub-dropdown ul > li > a.parenttitle:hover{ border:none;box-shadow:none; color:#fff;text-decoration:none}
#etcsub-dropdown ul > li > a.parenttitle .nav-arrow {display: block;width: 5px;height: 3px;background-image: url(../images/gen/icon_06.png);margin: 0px auto;}

 
#etcsub-dropdown ul.childarea {  background: #797979;  border-radius: 0px; opacity: 0;  visibility: hidden;  position: absolute;z-index:1350;padding:10px 0px}
#etcsub-dropdown ul.childarea > li {float: left;list-style: none;width:150px;text-align:center;padding:5px 0px;} 
#etcsub-dropdown ul.childarea > li > a {display: block;text-decoration: none; position: relative;font-size:12px;color:#fff;font-weight:normal;line-height:18px}
#etcsub-dropdown ul.childarea > li > a:hover {  color:#5cb531;}
#etcsub-dropdown ul.childarea > li > a:hover:before {  content: "";  z-index: 200; position: absolute;  border: 1px solid #fff; border-top: 0;  border-bottom: 0;  border-right: 0;  width: 100%;  height: 100%;  top: 0;  left: -1px;  opacity: .2;}
#etcsub-dropdown ul.childarea > li > a:hover:after {  content: "";  z-index: 200;  position: absolute;  border: 1px solid #fff;  border-top: 0;  border-bottom: 0;  border-left: 0;  width: 100%;  height: 100%;  top: 0;  right: -1px;  opacity: .2;}

#etcsub-dropdown > ul > li:hover > ul.childarea { opacity: 1;visibility: visible;z-index: 1350;position: absolute;border-radius:  0px;-webkit-box-shadow: none;-o-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;box-shadow: none;}
#etcsub-dropdown > ul > li > ul {width: 150px;position: absolute;}
#etcsub-dropdown > ul > li > ul > li {float: none;position: relative;display:block;}


.site-header-wrap .etcsub-area .lang{width:80px;color:#fff;font-size:12px;z-index:1200}
.site-header-wrap .etcsub-area .lang ul li{width: 80px;height: 78px;display: block;background-color: #3a3a3a;color: #FFF;line-height: 78px;text-align: center;font-size: 12px;;text-decoration:none;cursor:pointer}
.site-header-wrap .etcsub-area .lang ul li a{color:#fff;text-decoration:none}
.site-header-wrap .etcsub-area .lang ul li a:after{content: '';display: block;width: 5px;height: 3px;background-image: url(../images/gen/icon_06.png);position: absolute;top: 37px;right: 15px;}
.site-header-wrap .etcsub-area .lang ul li:first-of-type + li{display:none}
.site-header-wrap .etcsub-area .lang ul li:first-of-type:hover + li {display:block;background-color:#5f5f5f;}  
 



/*#etclang-dropdown {width: auto;display:block;background:#3a3a3a;height:78px;width:80px;color:#fff;font-size:15px;    letter-spacing: -1px;}
#etclang-dropdown,#etclang-dropdown ul
,#etclang-dropdown ul li{padding: 0;margin: 0;color: #000;  }
#etclang-dropdown:before,#etclang-dropdown:after,#etclang-dropdown > ul:before,#etclang-dropdown > ul:after {content: "";display: table;}
#etclang-dropdown:after,#etclang-dropdown > ul:after {clear: both;}
#etclang-dropdown ul {list-style:none;background-color:transparent;    } 
#etclang-dropdown ul > li > a.parenttitle{border:none;box-shadow:none; cursor:pointer;color:#fff;  ;text-align:center;height: 78px; padding: 13px 0px;display:block;}
#etclang-dropdown ul > li > a.parenttitle p{font-size:14px;line-height:22px}
#etclang-dropdown ul > li > a.parenttitle:hover{ border:none;box-shadow:none; color:#fff;text-decoration:none}
#etclang-dropdown ul > li > a.parenttitle .nav-arrow {display: block;width: 5px;height: 3px;background-image: url(../images/gen/icon_06.png);margin: 0px auto;}

 
#etclang-dropdown ul.childarea {  background: #5f5f5f;  border-radius: 0px; opacity: 0;  visibility: hidden;  position: absolute;z-index:1350;padding:10px 0px}
#etclang-dropdown ul.childarea > li {float: left;list-style: none;width:80px;text-align:center;padding:5px 0px;} 
#etclang-dropdown ul.childarea > li > a {display: block;text-decoration: none; position: relative;font-size:12px;color:#fff;font-weight:normal;line-height:18px}
#etclang-dropdown ul.childarea > li > a:hover {  color:#fff;}
#etclang-dropdown ul.childarea > li > a:hover:before {  content: "";  z-index: 200; position: absolute;  border: 1px solid #fff; border-top: 0;  border-bottom: 0;  border-right: 0;  width: 100%;  height: 100%;  top: 0;  left: -1px;  opacity: .2;}
#etclang-dropdown ul.childarea > li > a:hover:after {  content: "";  z-index: 200;  position: absolute;  border: 1px solid #fff;  border-top: 0;  border-bottom: 0;  border-left: 0;  width: 100%;  height: 100%;  top: 0;  right: -1px;  opacity: .2;}

#etclang-dropdown > ul > li:hover > ul.childarea { opacity: 1;visibility: visible;z-index: 1350;position: absolute;border-radius:  0px;-webkit-box-shadow: none;-o-box-shadow: none;-moz-box-shadow: none;-ms-box-shadow: none;box-shadow: none;}
#etclang-dropdown > ul > li > ul {width: 150px;position: absolute;}
#etclang-dropdown > ul > li > ul > li {float: none;position: relative;display:block;}*/


.contents-duo {min-height:600px;position:relative;}

.wings-box {position: fixed;
    z-index: 3000;
    right: 160px;
    top: 280px;
    width: 70px;
    padding: 14px;
    background-color: #5cb531;}
.wings-box ul li{
	padding: 10px 0 ;
	border-bottom:#8dcb6f 1px solid ;
}
.wings-box ul li:last-child{
	border-bottom: 0;
}




/* Pagination modify*/
#paging{margin:0px auto;text-align:center;margin-top:15px}
.pagination {
  display: inline-block;
  padding-left: 0;
    font-family: "Poppins",'Apple SD Gothic Neo'
}
.pagination  li {
  display: inline;
}
.pagination  li > a,
.pagination  li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #333;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius:0px;
}
.pagination li:first-child > a,
.pagination li:first-child > span {
  margin-left: 0;
  border-radius:0px;
}
.pagination li:last-child > a,
.pagination li:last-child > span { 
  border-radius:0px;
}
.pagination  li > a:hover,
.pagination  li > span:hover,
.pagination  li > a:focus,
.pagination  li > span:focus {
  z-index: 2;
  color: #333;
  background-color: #eee;
  border-color: #ddd;
}
.pagination .active > a,
.pagination .active > span,
.pagination .active > a:hover,
.pagination .active > span:hover,
.pagination .active > a:focus,
.pagination .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #ed1c24;
  border-color: #ed1c24;
}
.pagination .disabled > span,
.pagination .disabled > span:hover,
.pagination .disabled > span:focus,
.pagination .disabled > a,
.pagination .disabled > a:hover,
.pagination .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

/*menu in main slide S*/
.cbp-hsmenubg {	background: #f5f5f5;width: 100%;z-index: 1000;height: 80px;display:none}
.main-menuarea {position:relative;float:left;width:calc(100% - 465px);letter-spacing:-1px;;}  
.main-menuarea .dropdown-menu-main {width:100%;height:78px;position: absolute;left: 0px;top: 0px;z-index: 50;padding:0px;margin:0px;padding-left:40px} 
.main-menuarea .dropdown-menu-main > li{display:inline-block;text-decoration:none;height: 78px;line-height: 78px; ;border-bottom:2px solid #fff;padding: 0 30px 0;font-size: 16px;color: #222;cursor:pointer}
.main-menuarea .dropdown-menu-main > li:hover{background-image: none;color: #111;border-bottom:2px solid #5cb531}
.main-menuarea .dropdown-menu-main > li > a{color:#111;text-decoration:none}
.main-menuarea .dropdown-menu-main > li > a:hover {background-image: none;color: #5cb531; }
.main-menuarea .dropdown-menu-main > li > a.maintainHover {color: #111;;}
.main-menuarea .dropdown-menu-main  .popover a{color:#333;}
.main-menuarea .dropdown-menu-main  .popover a:hover{color:#5cb531;}
.main-menuarea .dropdown-menu-main  .popover-title{display:none;} 

.main-menuarea .dropdown-menu-main .popover {font-family:'Apple SD Gothic Neo','Noto Sans KR','Malgun Gothic','맑은 고딕',Dotum,'돋움',sans-serif !important;background: #f5f5f5;width: 100%; border-radius: 0;overflow: hidden;max-height: 80px;left: 0px;min-height: 80px;top: 79px !important;border: none;box-shadow: none;padding: 0px;max-width:100%;}
.main-menuarea .popover-content {text-align: left;color:#222;padding:0px;height:78px;box-shadow:none; } 
.main-menuarea .popover-content .menu-list-ul{list-style:none;color:#222;display:inline-block;max-width:100% ;vertical-align:middle;}
 .main-menuarea .popover-content .menu-main-category{color:#222;font-size:15px;line-height:78px;display:inline-block;padding:0px 10px} 
.main-menuarea .popover-content a:hover{color: #5cb531;text-decoration:none;} 
#submenu-product {
    width: 150%;
    max-width: 150%;
    margin-left: -40% !important;
}
 
.mobile-logo{display:none;}
