﻿@media (min-width: 1200px) {
    .container {
        width: 1200px;
}
}
@media (max-width: 768px) {
.site-header-wrap.collapse {display: none;}
.site-header-wrap.collapse.in {display: block;}
.site-header-wrap {width: 100%;height: auto;overflow: unset;}
.site-header-wrap .logo {width: 100%;float: none;text-align: center;}
.cbp-hsmenubg {display: none !important;}
.cbp-hsinner {max-width: 100%;width: 100%;padding: 0px;}
.site-header-wrap .etc-area {display: none;}
.site-header-wrap .etcsub-area {width: 100%;background: #5cb531;display: block;float: none;font-size: 14px;display: none;}
.wings-box {display: none;}
.site-header-wrap .main-menuarea {width: 100%;float: none;height: auto;}
.main-menuarea .dropdown-menu-main {height: auto;position: relative;padding: 0px;display: block;text-align:center;color:#fff;background: rgba(92, 181, 49, 0.9);}

.main-menuarea .dropdown-menu-main > li {position: relative;padding: 0px;display: block;width: 100%;line-height: 40px;height: 40px;}
.main-menuarea .dropdown-menu-main .popover {top:40px !important; width: 100%;    max-height: unset;max-width: 100%;margin-left: 0% !important;}
.mobile-logo{display:block;margin-bottom:30px;}
.main-menuarea .popover-content .menu-list-ul{width:100%}
.main-menuarea .popover-content{height:auto} 
.main-menuarea .popover-content .menu-main-category{line-height: 30px;border-bottom: 1px solid #ccc;width: 100%;}

.product_info div.items-box{    margin: 0px auto;float:none;width:290px;margin-bottom:30px;} 

footer{ background:#3a3a3a;padding:30px 0px; } 
.footer_logo{display:inline-block;width: 100%;float: none;}
.footer_menu{display:inline-block;width: 100%;float:none}
.footer_menu .menu ul li{display:inline;font-size:16px;line-height:22px;letter-spacing: -1px;color:#fff;padding:0 15px;position:relative;}
.footer_menu .menu ul li:first-child{padding-left:0px;display:block}
.footer_menu .menu ul li:last-child{margin-right:0px;}
.footer_menu .menu ul li a{color:#fff;}
.footer_menu .menu ul li:last-child:before {content: '';position: absolute;left: 0;top: 6px;width: 1px;height: 16px;background: #fff;}
.footer_menu .copy{font-size:16px;color:#c0c0c0;line-height:24px;margin-top:20px}
.footer_menu .addr ul li{display:block;font-size:16px;line-height:24px; }
.footer_menu .addr ul li:last-child{margin-right:0px;} 
.footer_menu .addr ul li:not(:first-child):before {content: '';color: #c0c0c0;font-size: 14px;font-weight: 100;margin: 0px;}
.footer_menu .copy p span{color:#5cb531}
 
}
@media screen and (max-width: 320px) {

.mainslide .item_slide_photos .slide_mainst{ position: relative;background-repeat: no-repeat;background-position: center;    background-size: cover;min-height:320px;height:100%;height:-webkit-fill-available;} 
.mainslide .item_slide_photos .slide_mainst .mbnr_auto{width:100%;overflow:hidden;}  
.mainslide .item_slide_photos .slide_mainst .mbnr_auto dl {	position: absolute;top: 40px;left: 0%;width:100% ;margin-left: 0px;} 
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dt {font-size: 16px;color: #FFF;text-align: center;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.text {font-size: 30px;text-align: center;color:#5cb531 ;line-height: 32px;font-weight: 800;font-family: Roboto;padding-top: 20px;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.rbtn ul{text-align: center;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.rbtn ul li{display: inline-block;text-align: center;padding: 0 5px;padding-top: 20px;}
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-nav{display:none} 
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots {bottom: -40px;left:48%}.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots .owl-dot.active span,
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots .owl-dot:hover span {background: #5cb531;}

}
@media (min-width: 321px) and (max-width: 420px)   {

.mainslide .item_slide_photos .slide_mainst{ position: relative;background-repeat: no-repeat;background-position: center;    background-size: cover;min-height:320px;height:100%;height:-webkit-fill-available;} 
.mainslide .item_slide_photos .slide_mainst .mbnr_auto{width:100%;overflow:hidden;}  
.mainslide .item_slide_photos .slide_mainst .mbnr_auto dl {	position: absolute;top: 100px;left: 0%;width:100% ;margin-left: 0px;} 
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dt {font-size: 24px;color: #FFF;text-align: center;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.text {font-size: 40px;text-align: center;color:#5cb531 ;line-height: 44px;font-weight: 800;font-family: Roboto;padding-top: 20px;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.rbtn ul{text-align: center;}
.mainslide .item_slide_photos .slide_mainst .mbnr_auto  dd.rbtn ul li{display: inline-block;text-align: center;padding: 0 5px;padding-top: 20px;} 
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-prev{left:10px;} 
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-next{right:10px;} 
.mainslide .item_slide_photos .owl-carousel.item_slide_normal_st  .owl-dots {bottom: 30px}
 }
@media screen and (min-width: 64em) {
.slide_mainst{ height: 600px; min-height: 600px;}}